In [1]:
# 1. Import Libraries
import pandas as pd
import numpy as np  
import matplotlib.pyplot as pyplot
import seaborn as sns

In [7]:
pd.options.display.max_columns = None

In [2]:
# 2. Get the data
cdc = pd.read_csv(r"C:\Users\sanjiv\Documents\Datasets\Kaggle\cdc\Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System.csv")

In [8]:
cdc.head(1)

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,Data_Value,Data_Value_Alt,Data_Value_Footnote_Symbol,Data_Value_Footnote,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,Total,Age(years),Education,Gender,Income,Race/Ethnicity,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,32.0,32.0,NaN,NaN,30.5,33.5,7304.0,Total,NaN,NaN,NaN,NaN,NaN,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Total,Total,OVR,OVERALL

In [4]:
cdc.shape

(53392, 33)

In [5]:
cdc.columns

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Datasource',
       'Class', 'Topic', 'Question', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Low_Confidence_Limit', 'High_Confidence_Limit ',
       'Sample_Size', 'Total', 'Age(years)', 'Education', 'Gender', 'Income',
       'Race/Ethnicity', 'GeoLocation', 'ClassID', 'TopicID', 'QuestionID',
       'DataValueTypeID', 'LocationID', 'StratificationCategory1',
       'Stratification1', 'StratificationCategoryId1', 'StratificationID1'],
      dtype='object')

In [14]:
cdc.isnull().mean().sort_values(ascending=False) #> 0.25

Data_Value_Unit               1.000000
Total                         0.964283
Gender                        0.928566
Data_Value_Footnote_Symbol    0.905491
Data_Value_Footnote           0.905491
Education                     0.857132
Age(years)                    0.785773
Income                        0.749981
Race/Ethnicity                0.714264
Data_Value_Alt                0.094509
Low_Confidence_Limit          0.094509
High_Confidence_Limit         0.094509
Sample_Size                   0.094509
Data_Value                    0.094509
GeoLocation                   0.018879
Data_Value_Type               0.000000
Question                      0.000000
Topic                         0.000000
Class                         0.000000
Datasource                    0.000000
LocationDesc                  0.000000
LocationAbbr                  0.000000
YearEnd                       0.000000
StratificationID1             0.000000
StratificationCategoryId1     0.000000
ClassID                       0.000000
TopicID                       0.000000
QuestionID                    0.000000
DataValueTypeID               0.000000
LocationID                    0.000000
StratificationCategory1       0.000000
Stratification1               0.000000
YearStart                     0.000000
dtype: float64

In [17]:
cdc["ClassID"].value_counts()

PA     26628
OWS    17920
FV      8844
Name: ClassID, dtype: int64