# COVID19 India Data
Source: [MoHW, GoI](https://www.mohfw.gov.in/)

In [2]:
import requests
from bs4 import BeautifulSoup

import pandas as pd

In [4]:
# request
page = requests.get("https://www.mohfw.gov.in")

In [17]:
#Fetch webpage
soup = BeautifulSoup(page.content,"html.parser")

In [14]:
#Scraping Data
#name = soup.find_all("td")
#name = soup.find("a",{"class":"open-table"})
#print(name.text.strip())

COVID-19 Statewise Status (Click to expand)

In [19]:
table = soup.find('table')

In [20]:
table_rows = table.find_all('tr')

In [21]:
for tr in table_rows:
    td = tr.find_all('td')
    for i in td:
        print(i.text)

1
Andhra Pradesh
161
1
1
2
Andaman and Nicobar Islands
10
0
0
3
Arunachal Pradesh
1
0
0
4
Assam
24
0
0
5
Bihar
29
0
1
6
Chandigarh
18
0
0
7
Chhattisgarh
9
3
0
8
Delhi
386
8
6
9
Goa
6
0
0
10
Gujarat
95
10
9
11
Haryana
49
24
0
12
Himachal Pradesh
6
1
1
13
Jammu and Kashmir
75
3
2
14
Jharkhand
2
0
0
15
Karnataka
128
12
3
16
Kerala
295
41
2
17
Ladakh
14
3
0
18
Madhya Pradesh
104
0
6
19
Maharashtra
423
42
19
20
Manipur
2
0
0
21
Mizoram
1
0
0
22
Odisha
5
0
0
23
Puducherry
5
1
0
24
Punjab
53
1
5
25
Rajasthan
179
3
0
26
Tamil Nadu
411
6
1
27
Telengana
158
1
7
28
Uttarakhand
16
2
0
28
Uttar Pradesh
174
19
2
29
West Bengal
63
3
3
Total number of confirmed cases in India
2902

184


68

In [22]:
df = pd.read_html('https://www.mohfw.gov.in/')

In [27]:
df[0].head(30)

,S. No.,Name of State / UT,Total Confirmed cases (Including 57 foreign Nationals),Cured/Discharged/Migrated,Death
0,1,Andhra Pradesh,161,1,1
1,2,Andaman and Nicobar Islands,10,0,0
2,3,Arunachal Pradesh,1,0,0
3,4,Assam,24,0,0
4,5,Bihar,29,0,1
5,6,Chandigarh,18,0,0
6,7,Chhattisgarh,9,3,0
7,8,Delhi,386,8,6
8,9,Goa,6,0,0
9,10,Gujarat,95,10,9
10,11,Haryana,49,24,0
11,12,Himachal Pradesh,6,1,1
12,13,Jammu and Kashmir,75,3,2
13,14,Jharkhand,2,0,0
14,15,Karnataka,128,12,3
15,16,Kerala,295,41,2
16,17,Ladakh,14,3,0
17,18,Madhya Pradesh,104,0,6
18,19,Maharashtra,423,42,19
19,20,Manipur,2,0,0
20,21,Mizoram,1,0,0
21,22,Odisha,5,0,0
22,23,Puducherry,5,1,0
23,24,Punjab,53,1,5
24,25,Rajasthan,179,3,0
25,26,Tamil Nadu,411,6,1
26,27,Telengana,158,1,7
27,28,Uttarakhand,16,2,0
28,28,Uttar Pradesh,174,19,2
29,29,West Bengal,63,3,3

In [28]:
country = df[0]

In [30]:
country.drop(['S. No.'], inplace=True, axis=1)

In [31]:
country.head()

,Name of State / UT,Total Confirmed cases (Including 57 foreign Nationals),Cured/Discharged/Migrated,Death
0,Andhra Pradesh,161,1,1
1,Andaman and Nicobar Islands,10,0,0
2,Arunachal Pradesh,1,0,0
3,Assam,24,0,0
4,Bihar,29,0,1