In [1]:
from datetime import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.style as style
import warnings

In [2]:
volcano = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-12/volcano.csv')
eruptions = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-12/eruptions.csv')
events = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-12/events.csv')
tree_rings = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-12/tree_rings.csv')
sulfur = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-12/sulfur.csv')

# Or read in with tidytuesdayR package (https://github.com

In [7]:
volcano.to_csv(r"C:\Users\sanjiv\Documents\Datasets\TidyTuesday\VolcanoEruptions\volcano.csv")
eruptions.to_csv(r"C:\Users\sanjiv\Documents\Datasets\TidyTuesday\VolcanoEruptions\eruptions.csv")
events.to_csv(r"C:\Users\sanjiv\Documents\Datasets\TidyTuesday\VolcanoEruptions\events.csv")
tree_rings.to_csv(r"C:\Users\sanjiv\Documents\Datasets\TidyTuesday\VolcanoEruptions\tree_rings.csv")
sulfur.to_csv(r"C:\Users\sanjiv\Documents\Datasets\TidyTuesday\VolcanoEruptions\sulfur.csv")

In [5]:
eruptions.head()

,volcano_number,volcano_name,eruption_number,eruption_category,area_of_activity,vei,start_year,start_month,start_day,evidence_method_dating,end_year,end_month,end_day,latitude,longitude
0,266030,Soputan,22354,Confirmed Eruption,NaN,NaN,2020.0,3.0,23.0,Historical Observations,2020.0,4.0,2.0,1.112,124.737
1,343100,San Miguel,22355,Confirmed Eruption,NaN,NaN,2020.0,2.0,22.0,Historical Observations,2020.0,2.0,22.0,13.434,-88.269
2,233020,"Fournaise, Piton de la",22343,Confirmed Eruption,NaN,NaN,2020.0,2.0,10.0,Historical Observations,2020.0,4.0,6.0,-21.244,55.708
3,345020,Rincon de la Vieja,22346,Confirmed Eruption,NaN,NaN,2020.0,1.0,31.0,Historical Observations,2020.0,4.0,17.0,10.830,-85.324
4,353010,Fernandina,22347,Confirmed Eruption,NaN,NaN,2020.0,1.0,12.0,Historical Observations,2020.0,1.0,12.0,-0.370,-91.550

In [6]:
events.head()

,volcano_number,volcano_name,eruption_number,eruption_start_year,event_number,event_type,event_remarks,event_date_year,event_date_month,event_date_day
0,210020,Chaine des Puys,10011,-4040,100001,Explosion,NaN,NaN,NaN,NaN
1,210020,Chaine des Puys,10011,-4040,100002,Scoria,NaN,NaN,NaN,NaN
2,210020,Chaine des Puys,10011,-4040,100003,Pyroclastic flow,NaN,NaN,NaN,NaN
3,210020,Chaine des Puys,10011,-4040,100004,Lava flow(s),NaN,NaN,NaN,NaN
4,210020,Chaine des Puys,10011,-4040,100005,Cinder cone formation,NaN,NaN,NaN,NaN

In [1]:
a = [3, 5, 4, 2 , 3]
a.pop(3)
print(a)

[3, 5, 4, 3]

In [2]:
a.remove(3)

In [3]:
print(a)

[5, 4, 3]

In [5]:
4^7^18^16^4

5

In [1]:
class A:
    def __init__(s):
        self.s = s
        
    def print():
        pass
    
a = A('John')
a.print()

TypeError: __init__() takes 1 positional argument but 2 were given